@import "vars";
@import "mixins";
@import "vendor/normalize.scss";

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.6rem;
    color: $white;

    @include breakpoint($tablet) {
        &.show-sidebar {
            overflow: hidden;
        }
    }
}

/* Blocks */
@import "blocks/page";
@import "blocks/main";

@import "blocks/sidebar";
@import "blocks/contacts";
@import "blocks/skills";

@import "blocks/burger";
@import "blocks/about";
@import "blocks/projects";
@import "blocks/about__exp";
@import "blocks/exp__ed";

