.burger {
    display: none;
    width  : 4rem;
    height : 3rem;

    font-size: 0;
    background: none;
    outline: none;

    @include fix(right 0);
    transform: translate(-50%, 50%);
    z-index  : 3;

    &:before,
    &:after,
    span {
        @include pseudo;
        width : 100%;
        height: 0.5rem;

        background   : #5f5d5d;
        border-radius: 1rem;

        transition: transform .2s linear;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }

    span {
        top      : 50%;
        right: 0;
        transform: translateY(-50%);

        transition: opacity .2s linear, background .3s linear, width .2s linear;
    }

    .show-sidebar & {
        span {
            opacity: 0;
        }

        &:before {
            top: 50%;
            transform:
                rotate(45deg);
        }

        &:after {
            top: 50%;
            transform:
                rotate(-45deg);
        }
    }

    &:hover,
    &:focus {
        span {
            width: 80%;
            right: 0;
            background: red;

            transition: background .2s linear, width .2s linear;
        }
    }

    @include breakpoint($tablet) {
        display: block;
    }
}