.exp__ed {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    span {
        color: $accent;
    }

    &>* {
        display: grid;
        row-gap: 2.5rem;

        align-self: baseline;

        @media(max-width: 549px) {
            justify-items: center;
        }
    }

    .speciality {
        color      : $black;
        font-weight: 700;
    }
}