.projects {

    span {
        color      : $black;
        font-weight: 700;
    }
}

.project__item {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    position             : relative;

    gap        : 0.5rem 2.5rem;

    align-items: center;
    white-space: nowrap;

    img {
        @include abs(right 0);
        height : 30rem;
        width  : 40rem;
        z-index: 1;

        opacity   : 0;
        visibility: hidden;

        object-fit: contain;
        transform : translate(150%, -50%);
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    @media (min-width: 770px) {

        a:hover,
        a:focus {
            color  : red;
            outline: none;

            +img {
                opacity   : 1;
                visibility: visible;
                transform : translate(10%, -50%);
            }
        }
    }

    @include breakpoint($tablet) {
        display: grid;

        a {
            text-decoration: underline;
        }
    }
}

.project__item_tools {
    span {
        font-size: 2.2rem;
    }

    @include breakpoint($tablet) {

        &,
        span {
            color     : #f2541c;
            text-align: center;
        }
    }
}