.skills {

    ul {
        list-style : disc inside;
        line-height: 1.8;

        li {
            color: $accent;

            span {
                color: $white;
            }
        }
    }
}