<aside class="sidebar" id="sidebar">
    <img class="my_photo" src="assets/images/photo2.webp" alt="my photo">

   <div class="content">
        <!-- Contacts section -->
        <div class="contacts">
            <h3 class="title">Contacts</h3>
            <div class="contacts_item">
                <span>C:</span>
                <a href="tel:+99999999">+99 999 999 999</a>
            </div>
            <div class="contacts_item">
                <span>E: </span>
                <a href="mailto:999999999@gmail.com">999999999@gmail.com</a>
            </div>
        </div>

        <!-- Tech skills section -->
        <div class="tech__skills  skills">
            <h3 class="title">Tech skills</h3>
            <ul class="skills__list">
                <li><span>HTML5, CSS3</span></li>
                <li><span>SASS</span></li>
                <li><span>Less</span></li>
                <li><span>GIT</span></li>
                <li><span>Web design</span></li>
                <li><span>UI / UX design</span></li>
                <li><span>Figma</span></li>
                <li><span>Photoshop</span></li>
                <li><span>JavaScript( in the process..)</span></li>
            </ul>
        </div>

        <!-- Soft Skills section -->
        <div class="soft__skills  skills">
            <h3 class="title">Soft Skills</h3>
            <ul class="skills__list">
                <li><span>Effective Communication</span></li>
                <li><span>Teamwork</span></li>
                <li><span>Problem-Solving</span></li>
                <li><span>Creativity</span></li>
                <li><span>Critical thinking</span></li>
                <li><span>Attention to Details</span></li>
                <li><span>Work Ethic</span></li>
            </ul>
        </div>

        <div class="languages  skills">
            <h3 class="title">Languages</h3>
            <ul class="skills__list">
                <li><span>English - Intermediate </span></li>
                <li><span>Spanish - Intermediate </span></li>
                <li><span>Ukrainian - Intermediate </span></li>
                <li><span>Russian - Native</span></li>
            </ul>
        </div>
   </div>

</aside>